@tailwind base;
@tailwind components;
@tailwind utilities;

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@layer utilities {
  .input-autofill {
    @apply bg-gray-800 text-white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #252627 inset !important; /* Замените #1a202c на ваш цвет фона */
    -webkit-text-fill-color: #ff8a28 !important; /* Замените #fff на ваш цвет текста */
    background-color: #252627 !important; /* Замените #1a202c на ваш цвет фона */
  }
}

.no-arrows {
    -moz-appearance: textfield;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: #252627;
  color: #A7A5AD;
}

input {
  @apply focus:outline-none focus:ring-0 focus:border-transparent;
}

select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="number"] {
  @apply w-full bg-mainBg border-2 border-accentBg text-smouthText rounded-md focus:border-smouthText dark:focus:ring-smouthText focus:ring-1 focus:outline-none focus:ring-smouthText;
  
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-black/50 border-0 cursor-not-allowed text-gray-500 border-2 border-accentBg rounded-md focus:border-smouthText dark:focus:ring-smouthText focus:ring-1 focus:outline-none focus:ring-smouthText;
  
}

label {
  @apply text-sm;
}

label + input {
  margin-top: -4px;
}



.nav-link {
    transition: transform 0.2s ease !important;
  }
.nav-link:hover {
  color: #ff8a28;
  transform: translateX(4px) !important;
}

.popup-content {
  background-color: #252627;
  -webkit-box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
  -moz-box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
  box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
  border-radius: 6px;
}

.shadow-button {
  transition-duration: 200ms;
}

.shadow-button:hover {
  -webkit-box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
  -moz-box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
  box-shadow: 0px -1px 5px 3px rgba(255,138,40,0.38);
}


.textShadow {
  text-shadow: 2px 2px 3px rgba(239, 117, 51, 1);
  text-shadow: 4px 4px 7px rgb(17, 6, 1);
}

.rotatingGear1 {
  animation: rotate 18s linear infinite; /* 4s - скорость анимации, linear - равномерное вращение, infinite - бесконечно */
}

.rotatingGear2 {
  animation: rotate 28s linear infinite; /* 4s - скорость анимации, linear - равномерное вращение, infinite - бесконечно */
}

.rotatingGear3 {
  animation: reverse-rotate 16s linear infinite; /* 4s - скорость анимации, linear - равномерное вращение, infinite - бесконечно */
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes reverse-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}


div.tabs > * {
  @apply bg-black text-white py-2 px-4 text-center w-full;
}

div.tabs > *.active{
  @apply bg-accentBg text-white;
}